## Fuel Price Trends & Cost-Saving Analysis - Western Australia

In [ ]:
import pandas as pd

Load data from https://www.fuelwatch.wa.gov.au/retail/historic

In [28]:
data1 = pd.read_csv('../Data/Raw_Data/FuelWatchRetail-11-2025.csv')
data2 = pd.read_csv('../Data/Raw_Data/FuelWatchRetail-12-2025.csv')
data3 = pd.read_csv('../Data/Raw_Data/FuelWatchRetail-10-2025.csv')

In [51]:
data = pd.concat([data1, data2, data3], ignore_index=True)

In [52]:
data.to_csv('../Data/Raw_Data/fuel_data_oct_nov_dec_2025.csv', index=False)

In [50]:
data

,PUBLISH_DATE,TRADING_NAME,BRAND_DESCRIPTION,PRODUCT_DESCRIPTION,PRODUCT_PRICE,ADDRESS,LOCATION,POSTCODE,AREA_DESCRIPTION,REGION_DESCRIPTION
0,01/11/2025,53 Mile Roadhouse,United,ULP,174.9,31 South Western Hwy,PINJARRA,6208,Murray,Peel
1,01/11/2025,53 Mile Roadhouse,United,Diesel,179.9,31 South Western Hwy,PINJARRA,6208,Murray,Peel
2,01/11/2025,53 Mile Roadhouse,United,98 RON,192.9,31 South Western Hwy,PINJARRA,6208,Murray,Peel
3,01/11/2025,7-Eleven Alkimos,7-Eleven,ULP,163.9,10 Carlsbad Prom,ALKIMOS,6038,North of River,Metro
4,01/11/2025,7-Eleven Alkimos,7-Eleven,PULP,178.9,10 Carlsbad Prom,ALKIMOS,6038,North of River,Metro
...,...,...,...,...,...,...,...,...,...,...
236947,31/10/2025,X Convenience Erskine,X Convenience,98 RON,189.5,2 Wattleglen Ave,ERSKINE,6210,Mandurah,Peel
236948,31/10/2025,Yarrumba Service Station,Liberty,ULP,189.3,21 Jose St,MULLEWA,6630,Geraldton,Mid-West
236949,31/10/2025,Yarrumba Service Station,Liberty,Diesel,189.4,21 Jose St,MULLEWA,6630,Geraldton,Mid-West
236950,31/10/2025,Youngs Siding General Store,BP,ULP,185.9,19 Station St,YOUNGS SIDING,6330,Albany,Great Southern
236951,31/10/2025,Youngs Siding General Store,BP,Diesel,190.8,19 Station St,YOUNGS SIDING,6330,Albany,Great Southern

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236952 entries, 0 to 236951
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   PUBLISH_DATE         236952 non-null  object
 1   TRADING_NAME         236952 non-null  object
 2   BRAND_DESCRIPTION    236952 non-null  object
 3   PRODUCT_DESCRIPTION  236952 non-null  object
 4   PRODUCT_PRICE        236952 non-null  float64
 5   ADDRESS              236952 non-null  object
 6   LOCATION             236952 non-null  object
 7   POSTCODE             236952 non-null  int64
 8   AREA_DESCRIPTION     236952 non-null  object
 9   REGION_DESCRIPTION   236952 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 18.1+ MB

Rename Columns - This improves readability of the dataset

In [33]:
data.columns = [
    "publish_date",
    "trading_name",
    "brand",
    "fuel_type",
    "price",
    "address",
    "suburb",
    "postcode",
    "area",
    "region"
]

In [34]:
data.head()

,publish_date,trading_name,brand,fuel_type,price,address,suburb,postcode,area,region
0,01/11/2025,53 Mile Roadhouse,United,ULP,174.9,31 South Western Hwy,PINJARRA,6208,Murray,Peel
1,01/11/2025,53 Mile Roadhouse,United,Diesel,179.9,31 South Western Hwy,PINJARRA,6208,Murray,Peel
2,01/11/2025,53 Mile Roadhouse,United,98 RON,192.9,31 South Western Hwy,PINJARRA,6208,Murray,Peel
3,01/11/2025,7-Eleven Alkimos,7-Eleven,ULP,163.9,10 Carlsbad Prom,ALKIMOS,6038,North of River,Metro
4,01/11/2025,7-Eleven Alkimos,7-Eleven,PULP,178.9,10 Carlsbad Prom,ALKIMOS,6038,North of River,Metro

Check data types and change them accordingly

In [35]:
data['publish_date'] = pd.to_datetime(data['publish_date'], format='%d/%m/%Y')

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236952 entries, 0 to 236951
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   publish_date  236952 non-null  datetime64[ns]
 1   trading_name  236952 non-null  object
 2   brand         236952 non-null  object
 3   fuel_type     236952 non-null  object
 4   price         236952 non-null  float64
 5   address       236952 non-null  object
 6   suburb        236952 non-null  object
 7   postcode      236952 non-null  int64
 8   area          236952 non-null  object
 9   region        236952 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 18.1+ MB

In [37]:
data.fuel_type.unique()

array(['ULP', 'Diesel', '98 RON', 'PULP', 'Brand Diesel', 'LPG', 'E85'],
      dtype=object)

Select ONE fuel type

In [38]:
data.fuel_type.value_counts()

fuel_type
ULP             61535
98 RON          54181
PULP            41844
Brand Diesel    37510
Diesel          37378
LPG              3410
E85              1094
Name: count, dtype: int64

ULP has the most available data. Therefore let's select ULP for our analysis.

In [39]:
df = data[data["fuel_type"] == "ULP"]
df.head()

,publish_date,trading_name,brand,fuel_type,price,address,suburb,postcode,area,region
0,2025-11-01,53 Mile Roadhouse,United,ULP,174.9,31 South Western Hwy,PINJARRA,6208,Murray,Peel
3,2025-11-01,7-Eleven Alkimos,7-Eleven,ULP,163.9,10 Carlsbad Prom,ALKIMOS,6038,North of River,Metro
7,2025-11-01,7-Eleven Ascot,7-Eleven,ULP,169.9,194 Great Eastern Hwy,ASCOT,6104,South of River,Metro
11,2025-11-01,7-Eleven Balcatta,7-Eleven,ULP,168.9,174 Balcatta Rd,BALCATTA,6021,North of River,Metro
15,2025-11-01,7-Eleven Baldivis,7-Eleven,ULP,169.9,370 Baldivis Rd,BALDIVIS,6171,South of River,Metro

In [40]:
df.price.describe()

count    61535.000000
mean       177.339764
std         13.727775
min        147.300000
25%        169.700000
50%        174.900000
75%        180.000000
max        245.900000
Name: price, dtype: float64

Create Time Features

In [41]:
df['day'] = df['publish_date'].dt.day

C:\Users\anura\AppData\Local\Temp\ipykernel_39720\707799532.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['day'] = df['publish_date'].dt.day

In [42]:
df['month'] = df['publish_date'].dt.month_name()

C:\Users\anura\AppData\Local\Temp\ipykernel_39720\2659448702.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['publish_date'].dt.month_name()

In [43]:
df['day_name'] = df['publish_date'].dt.day_name()

C:\Users\anura\AppData\Local\Temp\ipykernel_39720\4176660556.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['day_name'] = df['publish_date'].dt.day_name()

In [44]:
df

,publish_date,trading_name,brand,fuel_type,price,address,suburb,postcode,area,region,day,month,day_name
0,2025-11-01,53 Mile Roadhouse,United,ULP,174.9,31 South Western Hwy,PINJARRA,6208,Murray,Peel,1,November,Saturday
3,2025-11-01,7-Eleven Alkimos,7-Eleven,ULP,163.9,10 Carlsbad Prom,ALKIMOS,6038,North of River,Metro,1,November,Saturday
7,2025-11-01,7-Eleven Ascot,7-Eleven,ULP,169.9,194 Great Eastern Hwy,ASCOT,6104,South of River,Metro,1,November,Saturday
11,2025-11-01,7-Eleven Balcatta,7-Eleven,ULP,168.9,174 Balcatta Rd,BALCATTA,6021,North of River,Metro,1,November,Saturday
15,2025-11-01,7-Eleven Baldivis,7-Eleven,ULP,169.9,370 Baldivis Rd,BALDIVIS,6171,South of River,Metro,1,November,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
236938,2025-10-31,Windmill Roadhouse,Liberty,ULP,179.9,1 Darch St,REGANS FORD,6507,Regans Ford,Wheatbelt,31,October,Friday
236940,2025-10-31,X Convenience Alkimos,X Convenience,ULP,159.5,58 Montana Cres,ALKIMOS,6038,North of River,Metro,31,October,Friday
236944,2025-10-31,X Convenience Erskine,X Convenience,ULP,167.5,2 Wattleglen Ave,ERSKINE,6210,Mandurah,Peel,31,October,Friday
236948,2025-10-31,Yarrumba Service Station,Liberty,ULP,189.3,21 Jose St,MULLEWA,6630,Geraldton,Mid-West,31,October,Friday
236950,2025-10-31,Youngs Siding General Store,BP,ULP,185.9,19 Station St,YOUNGS SIDING,6330,Albany,Great Southern,31,October,Friday

In [45]:
df['weekend'] = df['day_name'].isin(['Saturday', 'Sunday'])

C:\Users\anura\AppData\Local\Temp\ipykernel_39720\2748491431.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['weekend'] = df['day_name'].isin(['Saturday', 'Sunday'])

In [46]:
df

,publish_date,trading_name,brand,fuel_type,price,address,suburb,postcode,area,region,day,month,day_name,weekend
0,2025-11-01,53 Mile Roadhouse,United,ULP,174.9,31 South Western Hwy,PINJARRA,6208,Murray,Peel,1,November,Saturday,True
3,2025-11-01,7-Eleven Alkimos,7-Eleven,ULP,163.9,10 Carlsbad Prom,ALKIMOS,6038,North of River,Metro,1,November,Saturday,True
7,2025-11-01,7-Eleven Ascot,7-Eleven,ULP,169.9,194 Great Eastern Hwy,ASCOT,6104,South of River,Metro,1,November,Saturday,True
11,2025-11-01,7-Eleven Balcatta,7-Eleven,ULP,168.9,174 Balcatta Rd,BALCATTA,6021,North of River,Metro,1,November,Saturday,True
15,2025-11-01,7-Eleven Baldivis,7-Eleven,ULP,169.9,370 Baldivis Rd,BALDIVIS,6171,South of River,Metro,1,November,Saturday,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236938,2025-10-31,Windmill Roadhouse,Liberty,ULP,179.9,1 Darch St,REGANS FORD,6507,Regans Ford,Wheatbelt,31,October,Friday,False
236940,2025-10-31,X Convenience Alkimos,X Convenience,ULP,159.5,58 Montana Cres,ALKIMOS,6038,North of River,Metro,31,October,Friday,False
236944,2025-10-31,X Convenience Erskine,X Convenience,ULP,167.5,2 Wattleglen Ave,ERSKINE,6210,Mandurah,Peel,31,October,Friday,False
236948,2025-10-31,Yarrumba Service Station,Liberty,ULP,189.3,21 Jose St,MULLEWA,6630,Geraldton,Mid-West,31,October,Friday,False
236950,2025-10-31,Youngs Siding General Store,BP,ULP,185.9,19 Station St,YOUNGS SIDING,6330,Albany,Great Southern,31,October,Friday,False

In [48]:
df.to_csv('../Data/Processed_Data/fuel_data_oct_nov_dec_2025.csv', index=False)